.btn-submit {
  width: 100%;
  padding: 8px 0;
  border-radius: 5px;
  background-color: #17a2b8;
  border: none;
  transition: 0.5s;
  color: #fff;
}
.btn-submit:hover {
  background-color: #17a3b8b6;
}